.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.mainContainer {
  margin-top: 64px; }

.signUp {
  border: solid #777 2px;
  border-radius: 20px;
  padding: 3px 11px; }

.App {
  position: relative; }

.MusicList {
  overflow: scroll;
  white-space: nowrap; }

.Music {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 5px #888888;
  height: 250px;
  width: 250px; }

.link {
  cursor: pointer; }

.home-link {
  margin-top: 9em;
  color: pink;
  text-align: center;
  font-family: Avenir-book;
  font-size: 20px; }
